<h1>Contact</h1>

<p class="lead">The easiest way to get in touch with me is through these following social sites. Just send me a PM and I'll try my best to reply rapidly.</p>

<div class="row">
	<div class="span3">
		<a href="https://www.github.com/ilestis" target="_blank"><img src="img/octocat.png" style="width: 64px" alt="Github" /> GitHub</a>
	</div>
	
	<div class="span3">
		<img src="img/facebook.png" style="width: 64px" alt="Facebook" /> Facebook
	</div>
	
	<div class="span3">
		<a href="http://www.linkedin.com/profile/view?id=112524872&trk=tab_pro" target="_blank"><img src="img/linkedin.png" style="width: 64px" alt="Linkedin" /> Linkedin</a>
	</div>
</div>